<h2>New user</h2>
<form class="form-horizontal" role="form">
  <fieldset>
    {{partial "users/form"}}
  </fieldset>
</form>
<div>
  <button class="btn btn-large btn-primary" {{action 'create' this}}>Create</button>
  <button class="btn btn-large btn-danger" {{action 'cancel' this}}>Cancel</button>
</div>
