<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'index' classNames='navbar-brand'}}<%= _.classify(baseName) %>{{/link-to}}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              {{#if hasAdminRole}}
                {{#link-to 'users.index' tagName='li'}}
                  <a href="#" {{bind-attr href="view.href"}}>Users</a>
                {{/link-to}}
              {{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome {{currentUser.name}} <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {{#if hasRootRole}}
                            <li>
                                {{#link-to 'auditEvents'}}Audit Events{{/link-to}}
                            </li>
                            <li>
                                {{#link-to 'loggers'}}Loggers{{/link-to}}
                            </li>
                            <li class="divider"></li>
                        {{/if}}
                        <li>
                            {{#if session.isAuthenticated}}
                                <a href="#" {{ action 'invalidateSession' }}>Logout</a>
                            {{/if}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
